*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;     
    
}

header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 30px;
  background-color: transparent;
}

.logo {
  cursor: pointer;
  height: 25px;
  width: 180px;
  margin-top: 20px;
  margin-left: 50px;
}

.nav__links a,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}
.links a,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
  position: relative;
  margin-left: 532px;
}
.links {
  list-style: none;
  display: flex;
  position: relative;
  margin-left: 380px;
  margin-top: -20px;
}

.nav__links li {
  padding: 0px 15px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  font-size: 12px;
}
.links li a {
  transition: all 0.3s ease 0s;
  font-size: 13px;
  font-weight: 800;
}
.links span{
  display: inline-flex;
  color: white;
}
.links span li a i:hover{
  color: black;
}


.nav__links li a:hover {
  color: black;
  text-decoration: none;
  
}
.links li a:hover {
  color: #fff;
  border-bottom: 3px solid darkviolet;
  text-decoration: none;
  
}
.links li {
  padding: 0 10px; 
}





/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 16px;
  display: inline-flex;
  color: black;
  transition: all 0.3s ease 0s;
}
.overlay a:hover{
  text-decoration: none;
  
  font-weight: bold;
  color: blue;
}
.menu-cta .fa-user:hover{
  color: blue;
}
.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 25px;
  color: black;
}
.overlay .close:hover{
  color: blue;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 10px;
  }
  .overlay .close {
    font-size: 10px;
    top: 15px;
    right: 35px;
  }
  .header{
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}

@media only screen and (max-width: 800px){
  .nav__links
 {
    display: none;
  }
  header{
    background: black;
  }
  .logo{
    position: relative;
    left: 90px;
    top: -20px;
    height: 35px;
    width: 220px;
  }
  .links
  {
     display: none;
   }
  .menu {
    display: initial;
  }
  .banner #one{
    height: 200;
  }
  
}

.name{
    margin-left: 180px;
    margin-top: 10px;
    color: white;
    overflow-Y: hidden;
}
.name h1{
    font-family: 'Cormorant', serif;
    font-size: 110px;
    font-weight: bold;
}
.name h2{
    margin-left: 90px;
    font-weight: 600;
    top: 20px;
    position: relative;   
}
.name p{
    margin-left: 200px;
    margin-top: 20px;
}

.b1{
    border: 2px solid white;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
    margin-top: 50px;
}
.butt a{
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    background-color: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.butt a:hover{
    text-decoration: none;
    color: black;
}
.butt .b1:hover{
    background: white;
    transition: 0.5s;
}
.b1{
    background: transparent;
    background-size: 400px 80px;
    color: black;
    border: 1px solid white;
     border-radius: 60px;
}

.name{
  overflow:none;
}
.card h4{
  margin-top: 10px;
  margin-left: 20px;
  font-weight: 800;
}
.card{
  border:none !important;
  
  margin-top: 30px;
  
}
.card a{
  color: #000;
  margin-left: 20px;
}
.card a:hover{
  text-decoration: none;
}

.container-fluid{
  margin-top: 40px;
}
.container-fluid h5{
  word-spacing: 1em;
  letter-spacing: 0.5em;
  font-weight: 800;
}
.row .box1{
  height: 370px;
  width: 250px;
  border: 1px solid #fff;
  margin-left: 20px;
}
.row .box1:hover{
  cursor: pointer;
  box-shadow: 5px 10px 18px #888888;
}
.row .box2{
  height: 370px;
  width: 250px;
  border: 1px solid #fff;
  margin-left: 20px;
}
.row .box2:hover{
  cursor: pointer;
  box-shadow: 5px 10px 18px #888888;
}
.row .box3{
  height: 370px;
  width: 250px;
  border: 1px solid #fff;
  margin-left: 20px;
}
.row .box3:hover{
  cursor: pointer;
  box-shadow: 5px 10px 18px #888888;
}
.row .box4{
  height: 370px;
  width: 250px;
  border: 1px solid #fff;
  margin-left: 20px;
}
.row .box4:hover{
  cursor: pointer;
  box-shadow: 5px 10px 18px #888888;
}
.row .box1 img{
  margin-left: 30px;
}
.row .box2 img{
  margin-left: 30px;
}
.row .box3 img{
  margin-left: 30px;
}
.row .box4 img{
  margin-left: 30px;
}
.row p{
  margin-top: 30px;
}
.row .new{
  color: blue;
  border: 1px solid blue;
  padding: 5px 20px;
  position: relative;
  top: 30px !important;
  left: 10px;
  font-size: 12px;
}
.row b{
  margin-left: 38%;
}
@media (max-width: 800px){
  .row .box4{
    margin-top: 20px;
  }
  .row .box3{
    margin-top: 20px;
  }
  .row .box2{
    margin-top: 20px;
  }
  .row .box1{
    margin-top: 20px;
  }


}
.advent h1{
  margin-left: 53%;
  margin-top: 8px;
  font-family: 'PT Serif Caption', serif;
  font-size: 50px;
  overflow-y: hidden;
}
.advent p{
  margin-left: 60%;
}
.advent .but{
  border: 1px solid black;
  color: black;
}
.image img{
  position: relative;
  left: 750px;
  
  margin: 50px 10px;
  background: #fff;
  height: 200px;
  width: 180px;
  display: inline-flex;
}
.deal{
    margin-top: 700px;
}
.deal h6{
  word-spacing: 1em;
  letter-spacing: 0.5em;
  margin-top: 55%;
  margin-left: 35%;
  font-weight: 800;
}
.deal .deal1{
  height: 370px;
  width: 250px;
  border: 1px solid #fff;
  display: inline-flex;
  margin: 0px 10px;
  overflow-y: hidden;
}
.deal .deal2{
  height: 370px;
  width: 250px;
  border: 1px solid #fff;
  display: inline-flex;
  margin: 0px 10px;
  overflow-y: hidden;
}
.deal .deal3{
  height: 370px;
  width: 250px;
  border: 1px solid #fff;
  display: inline-flex;
  margin: 0px 10px;
  overflow-y: hidden;
}
.deal .deal4{
  height: 370px;
  width: 250px;
  border: 1px solid #fff;
  display: inline-flex;
  margin: 0px 4px;
  overflow-y: hidden;
}
.deal img{
  margin-top: 30px;
  margin-left: 20px;
}
.deal o{
  position: absolute;
  color: darkviolet;
  font-size: 10px;
  border: 1px solid darkviolet;
  background: #fff;
  padding: 5px 20px;
  margin-left: 20px;
  margin-top: 20px;
  font-weight: 900;
}
.deal k{
  position: absolute;
  color: blue;
  font-size: 10px;
  border: 1px solid blue;
  background: #fff;
  padding: 5px 30px;
  margin-top: 55px;
  margin-left: 20px;
  font-weight: 900;
}
.deal p{
  font-size: 14px;
  position: absolute;
  margin-top: 300px;
  
}
@media (max-width: 800px){
  .deal .deal4{
    margin-top: 20px;
  }
  .deal .deal3{
    margin-top: 20px;
  }
  .deal .deal2{
    margin-top: 20px;
  }
  .deal .deal1{
    margin-top: 20px;
  }
}
.deal #price{
  position: absolute;
  margin-top: 330px;
  margin-left: 65px;
  color: darkviolet;
  font-weight: bold;
  font-size: 12px;
}
.deal #rate{
  color: darkviolet;
  font-weight: bold;
  font-size: 12px;
}
.deal span{
  color: gray;
  font-weight: 400;
  text-decoration-line: line-through;
}
.deal .deal1:hover{
  cursor: pointer;
  box-shadow: 5px 10px 18px #888888;
}
.deal .deal2:hover{
  cursor: pointer;
  box-shadow: 5px 10px 18px #888888;
}
.deal .deal3:hover{
  cursor: pointer;
  box-shadow: 5px 10px 18px #888888;
}
.deal .deal4:hover{
  cursor: pointer;
  box-shadow: 5px 10px 18px #888888;
}
.zoom{
  margin-top: 100px;
}
.zoom .zoom1,.zoom2,.zoom3,.zoom4{
  display: inline-flex;
  height: 300px;
  width: 520px;
  overflow-y: hidden;
  
}
.shop{
  margin-top: 100px;
  margin-left: 450px;
}
.shop h5{
  position: absolute;
  left: 500px;
  z-index: auto;
}
.shop img{
  margin-top: 85px;
  opacity: 0.3;
}
.shop img:hover{
  opacity: 1;
  transition: 0.5s;
}
 .over{
  position: absolute;
  
  width: 100%;
  height: 100%;
  background: rgba(28, 29, 28, 0.9);
  
}
.over img{
  margin-top: 100px;
  margin-left: 50px;
}
.over p{
  color: white;
  font-size: 12px;
  margin-top: 40px;
  margin-left: 50px;
}
.item{
  overflow-y: hidden;
  margin-top: -130px;
  
}
.item ul{
  position: relative;
  
  left: 400px;
  
}
.item ul li a{
  list-style-type: none;
  color: white;
  font-size: 13px;
  font-weight: bold;
 
}
.item ul li a:hover{
  color: darkviolet;
  text-decoration: none;
} 
  



